


<h2><%= resOne.first_name %> <%= resOne.last_name %> </h2>  

<br>Team: <%= resOne.team.full_name %>

<br> Height: <%= resOne.height_feet %>' <%= resOne.height_inches %>"

<div class="avgContainer">
    <div class="avgTitle a">SEASON AVERAGE</div>
    <div class="statTitle">
        <div class="year a">YEAR</div>
        <div class="gp a">GP</div>
        <div class="min a">MIN</div>
        <div class="fgm a">FGM</div>
        <div class="fga a">FGA</div>
        <div class="fg3m a">FG3M</div>
        <div class="fg3a a">FG3A</div>
        <div class="ftm a">FTM</div>
        <div class="fta a">FTA</div>
        <div class="oreb a">OREB</div>
        <div class="dreb a">DREB</div>
        <div class="reb a">REB</div>
        <div class="ast a">AST</div>
        <div class="stl a">STL</div>
        <div class="blk a">BLK</div>
        <div class="tov a">TOV</div>
        <div class="pf a">PF</div>
        <div class="pts a">PTS</div>
        <div class="fg-pct a">FG%</div>
        <div class="fg3-pct a">FG3%</div>
        <div class="ft-pct a">FT%</div>
    </div>
    <div class="statRow1">
        <div class="year b"><%= resTwo.season %></div>
        <div class="gp b"><%= resTwo.games_played %></div>
        <div class="min b"><%= resTwo.min %></div>
        <div class="fgm b"><%= resTwo.fgm %></div>
        <div class="fga b"><%= resTwo.fga %></div>
        <div class="fg3m b"><%= resTwo.fg3m %></div>
        <div class="fg3a b"><%= resTwo.fg3a %></div>
        <div class="ftm b"><%= resTwo.ftm %></div>
        <div class="fta b"><%= resTwo.fta %></div>
        <div class="oreb b"><%= resTwo.oreb %></div>
        <div class="dreb b"><%= resTwo.dreb %></div>
        <div class="reb b"><%= resTwo.reb %></div>
        <div class="ast b"><%= resTwo.ast %></div>
        <div class="stl b"><%= resTwo.stl %></div>
        <div class="blk b"><%= resTwo.blk %></div>
        <div class="tov b"><%= resTwo.turnover %></div>
        <div class="pf b"><%= resTwo.pf %></div>
        <div class="pts b"><%= resTwo.pts %></div>
        <div class="fg-pct b"><%= resTwo.fg_pct %></div>
        <div class="fg3-pct b"><%= resTwo.fg3_pct %></div>
        <div class="ft-pct b"><%= resTwo.ft_pct %></div>
    </div> 
</div>

