

<div class="detail">
<h2 class="nameTitle"><%= resOne.first_name %> <%= resOne.last_name %> </h2>  

<br>Team: <%= resOne.team.full_name %>

<br> Height: <%= resOne.height_feet %>' <%= resOne.height_inches %>"

    <div class="detailForm">
        Select year to get season average stats
        <form class="detailForm" action="/players/addseason/<%= resOne.id %>/<%= resOne.first_name %>/<%= resOne.last_name %>" method="POST">
            
            <input type="integer" class="seasonInput" placeholder="2020" name="season">
            
            <input type="submit" class="seasonSubmit" value="Get Stats">
        </form>
    </div>
</div>

