<div class="favorites">
    <h2 class="nameTitle">Favorite Players</h2>
    <ul>
    <% players.forEach ( resDb => { %>
        <li> <form method="POST" action="/favorites/delete/<%= resDb.playerId %>?_method=DELETE"><a href="/favorites/<%= resDb.playerId %>"><%= resDb.firstName %> <%= resDb.lastName %> </a>
            | <%= resDb.team %> <input class="deleteButton" type="submit" value="🗑"></form> </li>
    <% }) %>
    </ul>
</div>